 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('images/banner-item1.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 888px;
}

.u-section-1 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 900;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 5px 2px 8px rgba(128,128,128,1);
  margin: 389px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 800;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 5px 2px 8px rgba(128,128,128,1);
  margin: -19px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: 324px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 232px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 169px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 156px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: 219px;
    margin-top: -10px;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 492px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 351px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/team-item1.jpeg");
  transition-duration: 1s;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 541px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 2.8125rem;
  font-weight: 900;
  margin: 74px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  --radius: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-size: 1rem;
  margin: 20px auto 0 0;
  padding: 10px 55px 10px 54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 10px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 786px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0 351px;
}

.u-section-3 .u-gallery-1 {
  height: 500px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-1 {
  width: 375px;
}

.u-section-3 .u-over-slide-1 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-2 {
  width: 375px;
}

.u-section-3 .u-over-slide-2 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-3 {
  width: 375px;
}

.u-section-3 .u-over-slide-3 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-4 {
  width: 375px;
}

.u-section-3 .u-over-slide-4 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-5 {
  width: 375px;
}

.u-section-3 .u-over-slide-5 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-6 {
  width: 375px;
}

.u-section-3 .u-over-slide-6 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-7 {
  width: 375px;
}

.u-section-3 .u-over-slide-7 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-8 {
  width: 375px;
}

.u-section-3 .u-over-slide-8 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-9 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-9 {
  width: 375px;
}

.u-section-3 .u-over-slide-9 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-10 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-10 {
  width: 375px;
}

.u-section-3 .u-over-slide-10 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-11 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-11 {
  width: 375px;
}

.u-section-3 .u-over-slide-11 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-12 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-12 {
  width: 375px;
}

.u-section-3 .u-over-slide-12 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-13 {
  margin-right: 15px;
  --effect-scale: 1.25;
}

.u-section-3 .u-back-image-13 {
  width: 375px;
}

.u-section-3 .u-over-slide-13 {
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --radius: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 47px auto 56px;
  padding: 8px 112px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-item-1 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-2 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-3 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-4 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-5 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-6 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-7 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-8 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-9 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-10 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-11 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-12 {
    margin-right: 7px;
  }

  .u-section-3 .u-gallery-item-13 {
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 59px;
  }

  .u-section-3 .u-gallery-1 {
    width: 376px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-7 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-8 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-9 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-10 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-11 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-12 {
    padding: 30px;
  }

  .u-section-3 .u-over-slide-13 {
    padding: 30px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
    margin-bottom: 46px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 356px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 169px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 236px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-4 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 252px;
  min-width: 124px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-4 .u-icon-2 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-4 .u-icon-3 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-4 .u-icon-4 {
  height: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 195px;
  }

  .u-section-4 .u-social-icons-1 {
    width: 320px;
    min-width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-social-icons-1 {
    height: 57px;
    width: 290px;
    min-width: 124px;
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 96px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 55px;
    width: 280px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 56px;
    width: 285px;
    margin-top: 12px;
  }
}

.u-section-4 .u-social-icons-1,
.u-section-4 .u-social-icons-1:before,
.u-section-4 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-4 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.logo {
witdh: 100px;
height: 100px;
}